RewriteEngine on

# Provide redirects for removed pages

# MacOSX.html install converted to .shtml 12/2015
RewriteRule "MacOSX.html" "/install/MacOSX.shtml" [R=302,L]

# Linux.html install converted to .shtml 12/2015
RewriteRule "Linux.html" "/install/Linux.shtml" [R=302,L]

# openSUSE.html install converted to .shtml 03/2009
RewriteRule "OpenSUSE.html" "/install/OpenSUSE.shtml" [R=302,L]

# openSUSE.html install converted to .shtml 03/2009
RewriteRule "Debug.html" "/install/Debug.shtml" [R=302,L]
