RewriteEngine on

# Provide redirects for removed pages

# MacOSX.html install converted to .shtml 12/2015
RewriteRule "MacOSX.html" "MacOSX.shtml" [R=302,L]

# Linux.html install converted to .shtml 12/2015
RewriteRule "Linux.html" "Linux.shtml" [R=302,L]

# openSUSE.html install converted to .shtml 03/2009
RewriteRule "OpenSUSE.html" "OpenSUSE.shtml" [R=302,L]

# openSUSE.html install converted to .shtml 03/2009
RewriteRule "Debug.html" "Debug.shtml" [R=302,L]
